﻿canvas {
    height: 100%;
}

.Outliner {
    color: #444;
    background: #fff;
    padding: 5px 0 0 0;
    width: 100%;
    height: 140px;
    font-size: 12px;
    cursor: default;
    overflow: auto;
    outline: none;
}

.Outliner .option {
    padding: 4px;
    color: #666;
    white-space: nowrap;
}

.Outliner .option:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.Outliner .option.active {
    background-color: rgba(0, 0, 0, 0.04);
}

input.Number {
    color: yellow !important;
    font-size: 12px;
    border: 0px;
    padding: 2px;
    cursor: col-resize;
}

#viewport {
    position: absolute;
    top: 32px;
    right: 0;
    left: 310px;
    bottom: 0px;
}

#viewport #info {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

#script {
    position: absolute;
    top: 32px;
    left: 0;
    right: 300px;
    bottom: 32px;
    opacity: 0.9;
}

#player {
    position: absolute;
    top: 32px;
    left: 0;
    right: 300px;
    bottom: 32px;
}

#menubar {
    position: absolute;
    width: 100%;
    height: 32px;
    background: #356AB3;
    padding: 0;
    margin: 0;
    right: 0;
    top: 51px;
    z-index: 999;
}

#menubar .menu {
    float: left;
    cursor: pointer;
    padding-right: 8px;
}

#menubar .menu.right {
    float: right;
    cursor: auto;
    padding-right: 0;
    text-align: right;
}

#menubar .menu .title {
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 8px;
}

#menubar .menu .options {
    position: absolute;
    display: none;
    padding: 5px 0;
    background: #356ab3;
    width: 150px;
    top: 32px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#menubar .menu:hover .options {
    display: block;
}

#menubar .menu .options hr {
    border-color: #ddd;
}

#menubar .menu .options .option {
    color: #fff;
    background-color: transparent;
    padding: 5px 10px;
    margin: 0 !important;
}

#menubar .menu .options .option:hover {
    color: #fff;
    background-color: #08f;
}

#menubar .menu .options .option:active {
    color: #666;
    background: transparent;
}

#menubar .menu .options .inactive {
    color: #bbb;
    background-color: transparent;
    padding: 5px 10px;
    margin: 0 !important;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 83px;
    bottom: 0;
    width: 310px;
    background: #356AB3;
    overflow: auto;
}

#sidebar * {
    vertical-align: middle;
}

#sidebar input,
#sidebar textarea,
#sidebar select {
    border: 1px solid transparent;
    color: #444;
}

#sidebar .Panel {
    color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#sidebar .Panel.collapsed {
    margin-bottom: 0;
}

#sidebar .Row {
    min-height: 20px;
    margin-bottom: 10px;
}

#tabs {
    background-color: #00214e;
    /*border-top: 1px solid #ccc;*/
}

#tabs span {
    color: #aaa;
    border-right: 1px solid #ccc;
    padding: 10px;
}

#tabs span.selected {
    color: #fff;
    background-color: #356AB3;
}

#toolbar {
    position: absolute;
    right: 0;
    left: 300px;
    bottom: 0;
    height: 32px;
    background: #eee;
    color: #333;
}

#toolbar * {
    vertical-align: middle;
}

#toolbar .Panel {
    padding: 4px;
    color: #888;
}

#toolbar button {
    margin-right: 6px;
}

#translateBtn {
    background: url("../../images/editor/icons/icons.png");
    background-position: 0px -232px;
    height: 50px;
    width: 50px;
    /*background-color: white;*/
    background-size: 100%;
    margin: 0 5px;
}
#scaleBtn {
    background: url("../../images/editor/icons/icons.png");
    background-position: 0px -347px;
    height: 50px;
    width: 50px;
    /*background-color: white;*/
    background-size: 100%;
    margin: 0 5px;
}
#rotateBtn {
    background: url("../../images/editor/icons/icons.png");
    background-position: 0px -174px;
    height: 50px;
    width: 50px;
    /*background-color: white;*/
    background-size: 100%;
    margin: 0 5px;
}
#alignXYBtn {
    background: url("../../images/editor/icons/icons.png");
    background-position: 0px -574px;
    height: 50px;
    width: 50px;
    /*background-color: #888888;*/
    background-size: 100%;
    margin: 0 5px;
}
#alignXZBtn {
    background: url("../../images/editor/icons/icons.png");
    background-position: 0px -633px;
    height: 50px;
    width: 50px;
    /*background-color: #888888;*/
    background-size: 100%;
    margin: 0 5px;
}
#alignYZBtn {
    background: url("../../images/editor/icons/icons.png");
    background-position: 0px -747px;
    height: 50px;
    width: 50px;
    /*background-color: #888888;*/
    background-size: 100%;
    margin: 0 5px;
}
#alignCenterBtn {
    background: url("../../images/editor/icons/icons.png");
    background-position: 0px -232px;
    height: 50px;
    width: 50px;
    /*background-color: #888888;*/
    background-size: 100%;
    margin: 0 5px;
}
#scaleTWBtn {
    background: url("../../images/editor/icons/icons.png");
    background-position: 0px -461px;
    height: 50px;
    width: 50px;
    /*background-color: #888888;*/
    background-size: 100%;
    margin: 0 5px;
}
