html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-default{
    background: #356AB3;
}
.navbar-header .navbar-brand{
    color: white;
    text-transform: uppercase;
}
.navbar-header .navbar-brand:hover{
    color: #e1e1e1;
}
.navbar-nav li button[type=submit]{
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    color: #fff;
}
.navbar-nav li a{
    color: #e4f7ff !important;
}
.navbar-nav .active a{
    background: #3374b7 !important;
}
.navbar-default .navbar-toggle .icon-bar{
    background: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: transparent;
    border-color: #074d80;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
    background: #074d80;
}
.site-bg{
    background: #cccccc;
    min-height: 100vh;
}
.body-content h1{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #9c9c9c;
}
.bg-box{
    width: 100%;
    min-height: 480px;
    background: url("../images/3D printer.png") center no-repeat;
    opacity: .3;
}
#login-form .label-left{
    text-align: left !important;
}
.form-box{
    padding: 20px;
    background: #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 0 rgba(128, 128, 128, 0.33);
}